<ion-header>
  <ion-toolbar>
    <ion-title>
      RPC Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" (click)="check($event)">
    {{playOptions[0]}}
  </ion-button>

  <ion-button expand="full" (click)="check($event)">
    {{playOptions[1]}}
  </ion-button>

  <ion-button expand="full" (click)="check($event)">
    {{playOptions[2]}}
  </ion-button>

  <div class="ion-padding">
    <ion-label>{{computer}}</ion-label>
  </div>

  <div class="ion-padding">
    <ion-label>{{result}}</ion-label>
  </div>
</ion-content>